<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="http://freepngimages.com/wp-content/uploads/2016/11/bacon-burger.png" height="200" class="center-block">
      <h1 class="text-center title">Eat-Da-Burger!</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <div>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="row">
              <div class="col-md-9">
              <div class="uneaten">
                <p class="text-center">
                {{this.id}}. {{this.burger_name}}
                </p>
              </div>
              </div>
              <div class="col-md-3">
              <div>
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit" class="center-block">Devour It!</button>
              </form>
              </div>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="eaten">
            <p class="text-center">
              {{this.id}}. {{this.burger_name}}
            </p>
            </div>
          {{/if}}
        {{/each}}
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
          {{!-- <label for="ca">Burger Name:</label> --}}
          <input type="text" id="ca" name="name" class="center-block burger_field">
        </div>

        <button type="submit" class="center-block btn btn-primary">Submit</button>
        <p class="text-center">Enter a burger you want to eat and click the "Submit" button</p>
      </form>
    </div>
  </div>

</div>